@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/static/Orbitron-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/static/Inter_18pt-Regular.ttf');
}
